#submitButton {
    color: #753a88;
    background-color: white;
    border: .05px solid white;
    padding: .75rem 1.9rem;
    font-weight: bold;
    font-size: 1.6rem;
    margin-top: 3rem;
}
.sliderContainer{
    margin-top: 3rem;
    -ms-transform: scale(1.5); 
    -moz-transform: scale(1.5);
    -webkit-transform: scale(1.5); 
    -o-transform: scale(1.5);
}
