<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="author" content="Doeun Kim">
    <link rel="icon" href="imgfavicon.png">
    <title>TITAMA</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css" integrity="sha384-9gVQ4dYFwwWSjIDZnLEWnxCjeSWFphJiwGPXr1jddIhOegiu1FwO5qRGvFXOdJZ4" crossorigin="anonymous">
    <link href="../css/index.css" rel="stylesheet">
  </head>
  <body>
    <div class="site-wrapper">
      <div class="site-wrapper-inner">
        <div class="cover-container">
          <div class="masthead clearfix">
            <div class="inner">
              <h3 class="masthead-brand">TITAMA</h3>
              <nav class="nav nav-masthead">
                <a class="nav-link" href="../index.html">Home</a>
                <a class="nav-link active" href="about.html">About</a>
                <a class="nav-link" href="contact.html">Contact</a>
              </nav>
            </div>
          </div>
          <div class="inner cover">
            <p class="lead">TITAMA is a shorten name of ‘Timetable Maker.’ </p>
            <p class="lead">TITAMA recommends several possible course schedules for any Computer Science major students who will study in SUNY Korea in Fall 2018 based on the Computer Science major required courses that they have passed so far and their current academic standing.</p>
          </div>
          <div class="mastfoot">
            <div class="inner">
              <p>All right reserved (c) 2018 Doeun Kim</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>